// COLORS PALLETE
$red: #EA3546;
$dark-red: #D42B3B;
$gray: #E3E3E3;
$dark-gray: #B3B3B3;
$dark-green: #4F5E5C;
$black-green: #003544;
$light-green: #65938D;
$white: #ffffff;
$black: #000000;
$green-background:#003543;
// FONT
$arial: Arial, Serif;

// SHADOWS
$shadow-m: 0 .125rem .25rem rgba(0,0,0,.075)!important;
$shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
$shadow-lg: 0 1rem 3rem rgba(0,0,0,.175)!important;
